/* Background: */
background: #C56666;
/* social-large-email: */
/* social-large-email: */
/* social-large-email: */
/* social-large-email: */
/* social-large-email: */
/* navbar-base: */
/* Contact: */
font-family: Satisfy;
font-size: 40px;
color: #ABCC85;
line-height: 56px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* nav: */
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* submit: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* clear: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 49: */
background: #576A7C;
box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.25), 0px 10px 10px 0px rgba(0,0,0,0.22);
/* Name:: */
font-family: Satisfy;
font-size: 40px;
color: #ABCC85;
line-height: 56px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 49: */
background: #576A7C;
box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.25), 0px 10px 10px 0px rgba(0,0,0,0.22);
/* Email:: */
font-family: Satisfy;
font-size: 40px;
color: #ABCC85;
line-height: 56px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 49: */
background: #576A7C;
box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.25), 0px 10px 10px 0px rgba(0,0,0,0.22);
/* Message:: */
font-family: Satisfy;
font-size: 40px;
color: #ABCC85;
line-height: 56px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Background: */
background: #CBD0C6;
/* Porfolio Image: */
/* Porfolio Image: */
/* Rectangle 46: */
/* Sketch doesnt export pattern fills at this point */
box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.23), 0px 10px 20px 0px rgba(0,0,0,0.19);
/* Rectangle 46: */
opacity: 0.89;
background: #3E494D;
box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.23), 0px 10px 20px 0px rgba(0,0,0,0.19);
/* Rumour Generator: */
font-family: Satisfy;
font-size: 24px;
color: #ABCC85;
line-height: 32px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* regex | javascript: */
font-family: Raleway-Regular;
font-size: 16px;
color: #A0BAD8;
line-height: 24px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Easily expandable ge: */
font-family: Raleway-Regular;
font-size: 12px;
color: #FFFFFF;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* read more: */
/* Rectangle 46: */
/* Sketch doesnt export pattern fills at this point */
box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.23), 0px 10px 20px 0px rgba(0,0,0,0.19);
/* Porfolio Row - 4: */
/* up: */
/* down: */
/* navbar-base: */
/* Portfolio: */
font-family: Satisfy;
font-size: 40px;
color: #ABCC85;
line-height: 56px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* nav: */
/* Background: */
background: #6C86A2;
/* navbar-base: */
/* Skills & Experience: */
font-family: Satisfy;
font-size: 40px;
color: #ABCC85;
line-height: 56px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* nav: */
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* html: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* css: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* javascript: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* jQuery: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* sass: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* GSAP: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* bootstrap: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* git: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* gulp: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* technical: */
font-family: Raleway-Bold;
font-size: 24px;
color: #FFFFFF;
line-height: 32px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* illustrator: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* sketch: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* photoshop: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* inDesign: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Rectangle 3: */
background: #ABCC85;
border: 1px solid #3E494D;
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.23), 0px 3px 6px 0px rgba(0,0,0,0.16);
border-radius: 2px;
/* svg: */
font-family: Raleway-Bold;
font-size: 12px;
color: #3E494D;
line-height: 16px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* design: */
font-family: Raleway-Bold;
font-size: 24px;
color: #FFFFFF;
line-height: 32px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Skills: */
font-family: Satisfy;
font-size: 64px;
color: #ABCC85;
line-height: 80px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* I am a self taught w: */
font-family: Raleway-Regular;
font-size: 20px;
color: #FFFFFF;
line-height: 28px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Experience: */
font-family: Satisfy;
font-size: 64px;
color: #ABCC85;
line-height: 80px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Background: */
background: #3E494D;
/* navbar: */
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Combined Shape: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Shadows: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Path 4: */
border: 1px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Path 19: */
border: 2px solid #84AA59;
/* Path 19: */
transform: rotate(20deg);
border: 2px solid #84AA59;
/* Path 21: */
border: 2px solid #84AA59;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rocks: */
background: #C3A68B;
border: 2px solid #A39180;
/* Path 1: */
border: 1px solid #A39180;
/* Path 1: */
border: 1px solid #A39180;
/* Combined Shape: */
opacity: 0.59;
background: #A39180;
border: 3px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Grass Tufts: */
border: 2px solid #84AA59;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Back Rock: */
background: #C3A68B;
border: 2px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Rock 2: */
background: #C3A68B;
border: 2px solid #A39180;
/* Rock 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Combined Shape: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Path 19: */
transform: rotate(20deg);
border: 2px solid #84AA59;
/* Path 21: */
border: 2px solid #84AA59;
/* Back Rock: */
background: #C3A68B;
border: 2px solid #A39180;
/* Combined Rocks: */
background: #C3A68B;
border: 2px solid #A39180;
/* Full Rocks: */
background: #C3A68B;
border: 2px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Rock 2: */
background: #C3A68B;
border: 2px solid #A39180;
/* Rock 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Path 19: */
border: 2px solid #84AA59;
/*                 : */
transform: rotate(-14deg);
border: 2px solid #84AA59;
/* Path 19: */
transform: rotate(20deg);
border: 2px solid #84AA59;
/* Path 21: */
border: 2px solid #84AA59;
/* Path 19: */
border: 2px solid #84AA59;
/* Path 21: */
border: 2px solid #84AA59;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Water: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
border-radius: 3px;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
/* Rectangle 37: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #6C86A2;
border-radius: 3px;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
background: #D6E1EB;
/* Oval 11: */
opacity: 0.8;
transform: rotate(-75deg);
background: #B5CDE3;
/* Oval 11: */
opacity: 0.8;
transform: rotate(-75deg);
background: #B5CDE3;
/* Oval 11: */
opacity: 0.8;
transform: rotate(-75deg);
background: #B5CDE3;
/* Oval 11: */
opacity: 0.8;
transform: rotate(-75deg);
background: #B5CDE3;
/* Oval 11: */
opacity: 0.8;
transform: rotate(-75deg);
background: #B5CDE3;
/* Oval 11: */
opacity: 0.8;
transform: rotate(-75deg);
background: #B5CDE3;
/* Oval 11: */
opacity: 0.8;
transform: rotate(-75deg);
background: #B5CDE3;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Rocks: */
background: #C3A68B;
border: 2px solid #A39180;
/* Grass Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Path 19: */
transform: rotate(20deg);
border: 2px solid #84AA59;
/* Path 21: */
border: 2px solid #84AA59;
/*                 : */
transform: rotate(-14deg);
border: 2px solid #84AA59;
/* Path 30: */
border: 1px solid #A39180;
/* Path 30: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Back Rock: */
background: #C3A68B;
border: 2px solid #A39180;
/* Back Rock: */
background: #C3A68B;
border: 2px solid #A39180;
/* Back Rock: */
background: #C3A68B;
border: 2px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Combined Shape: */
background: #C3A68B;
border: 2px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Path 32: */
border: 1px solid #A39180;
/* Grass Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Path 19: */
transform: rotate(20deg);
border: 2px solid #84AA59;
/* Path 21: */
border: 2px solid #84AA59;
/* Rectangle 26: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
border-radius: 8px;
/* Rectangle 27: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
border-radius: 8px;
/* Rectangle 27: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
border-radius: 8px;
/* Door: */
background: #D7ADAD;
border: 2px solid #B99595;
/* Shadow: */
opacity: 0.59;
background: #ACB1A8;
border: 1px solid #ACB1A8;
/* Triangle 82: */
background: #D7ADAD;
border: 2px solid #B99595;
/* Rectangle 29: */
background: #B7CDC8;
border: 2px solid #9FB4B0;
/* Line: */
border: 1px solid #9FB4B0;
/* Line: */
border: 1px solid #9FB4B0;
/* Line: */
background: #B7CDC8;
border: 2px solid #9FB4B0;
/* Line: */
background: #D7ADAD;
border: 1px solid #B99595;
/* Line: */
opacity: 0.6;
background: #D7ADAD;
border: 2px solid #B99595;
/* Line: */
opacity: 0.6;
background: #D7ADAD;
border: 2px solid #B99595;
/* Line: */
opacity: 0.6;
background: #D7ADAD;
border: 2px solid #B99595;
/* Line: */
opacity: 0.6;
background: #D7ADAD;
border: 2px solid #B99595;
/* Line: */
opacity: 0.6;
background: #D7ADAD;
border: 2px solid #B99595;
/* Line: */
background: #D7ADAD;
border: 1px solid #B99595;
/* Line: */
background: #D7ADAD;
border: 1px solid #B99595;
/* Line: */
background: #D7ADAD;
border: 1px solid #B99595;
/* Line: */
background: #D7ADAD;
border: 1px solid #B99595;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Rectangle 5: */
background: #9C8A7B;
border: 2px solid #7F7368;
/* Combined Shape: */
background: #88947B;
border: 2px solid #6F7C60;
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Back Rock: */
background: #C3A68B;
border: 2px solid #A39180;
/* Combined Rocks: */
background: #C3A68B;
border: 2px solid #A39180;
/* Combined Shape: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Combined Shape: */
background: #C3A68B;
border: 2px solid #A39180;
/* Grass Shadow: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Combined Shape: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Oval 1: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Path 19: */
transform: rotate(27deg);
border: 2px solid #84AA59;
/*                 : */
transform: rotate(-14deg);
border: 2px solid #84AA59;
/* Path 19: */
transform: rotate(20deg);
border: 2px solid #84AA59;
/* Path 21: */
border: 2px solid #84AA59;
/* Back Rock: */
background: #C3A68B;
border: 2px solid #A39180;
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Combined Shape: */
background: #C3A68B;
border: 2px solid #A39180;
/* Triangle 1: */
background: #C3A68B;
border: 2px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Line: */
border: 1px solid #A39180;
/* Combined Shape: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Combined Shape: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Combined Shape: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Combined Shape: */
opacity: 0.59;
background: #A39180;
border: 1px solid #A39180;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Grass: */
background: #B8E986;
border: 2px solid #84AA59;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 5: */
background: #C0A791;
border: 2px solid #A18873;
/* Oval 29: */
background: #ABCC85;
border: 2px solid #859B6C;
/* Rectangle 48: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Line: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Line: */
background: #CBD0C6;
border: 2px solid #ADAFAB;
/* Triangle 116: */
background: #D7ADAD;
border: 2px solid #B99595;
/* Line: */
background: #D7ADAD;
border: 1px solid #B99595;
/* Line: */
opacity: 0.6;
background: #D7ADAD;
border: 2px solid #B99595;
/* Line: */
background: #D7ADAD;
border: 1px solid #B99595;
/* Line: */
opacity: 0.6;
background: #D7ADAD;
border: 2px solid #B99595;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #58595B;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #58595B;
/* Rectangle 52: */
background: #F0B179;
border: 2px solid #BE8553;
border-radius: 3px;
/* Line: */
background: #F0B179;
border: 2px solid #BE8553;
/* Line: */
background: #F0B179;
border: 2px solid #BE8553;
/* Line: */
background: #F0B179;
border: 2px solid #BE8553;
/* Line: */
background: #F0B179;
border: 2px solid #BE8553;
/* Oval 39: */
background: #C56666;
border: 2px solid #814B4B;
/* Line: */
opacity: 0.29;
border: 2px solid #814B4B;
/* Oval 39: */
opacity: 0.29;
border: 2px solid #814B4B;
/* Oval 39: */
opacity: 0.29;
border: 2px solid #814B4B;
/* Rectangle 51: */
background: #C56666;
border: 2px solid #814B4B;
border-radius: 3px;
/* Line: */
background: #C56666;
border: 2px solid #814B4B;
/* Line: */
background: #C56666;
border: 2px solid #814B4B;
/* Line: */
background: #C56666;
border: 2px solid #814B4B;
/* Line: */
background: #C56666;
border: 2px solid #814B4B;
/* Line: */
background: #C56666;
border: 2px solid #814B4B;
/* Line: */
background: #C56666;
border: 2px solid #814B4B;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #58595B;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #58595B;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #58595B;
/* Line: */
opacity: 0.8;
background: #A0BAD8;
border: 2px solid #58595B;
/* Header - Main: */
font-family: Satisfy;
font-size: 64px;
color: #ABCC85;
line-height: 80px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Header - Intro: */
font-family: Raleway-Regular;
font-size: 20px;
color: #FFFFFF;
line-height: 28px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* Header - Intro: */
font-family: Raleway-Bold;
font-size: 20px;
color: #C56666;
line-height: 28px;
text-shadow: 0px 1px 3px rgba(0,0,0,0.12);
/* social-mail: */
/* social: */
/* social: */
/* social: */
/* social: */